<section class="blog-area">
    <div class="container">
        <div class="heading">
            <h4>{{section.settings.heading}}</h4>
        </div>
        <div class="blog-slider">
            {%- assign blog = blogs[section.settings.blog] -%}
            {%- for article in blog.articles -%}
            <div class="blog-item item">
                <div class="media-body clearfix">
                    <div class="row">
                        <div class="blog-meta col-lg-2 hidden-sm hidden-xs">
                            <span class="blog-created">
                                <span class="icon-calendar">
                                    <time class="day-posted">{{ article.published_at | date: "%d" }}</time>
                                    <time class="month-posted">{{ article.published_at | date: "%b" }}</time>
                                </span>
                            </span>
                        </div>
                        <div class="blog-content col-lg-10 no-padding">
                            <div class="blog-des">
                                <h4><a href="{{ article.url }}" title="{{ article.title }}">{{ article.title }}</a></h4>
                            </div>
                            <div class="image">
                                <img src="{{article.image | img_url: '300x300'}}" class="img-fluid lazyload js" alt="{{ article.title }}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {%- endfor -%}
        </div>
    </div>
</section>

{% schema %}
    {
        "name":"Blog Slider",
        "settings":[
            {
                "type":"text",
                "id":"heading",
                "label":"Heading"
            },
            {
                "id": "blog",
                "type": "blog",
                "label": "Blog"
            },
            {
                "type": "range",
                "id": "post_limit",
                "label": "Posts",
                "min": 3,
                "max": 12,
                "step": 3,
                "default": 3
            }        
        ],
        "presets": [
            {
                "name": "Blog Slider",
                "category": "Blog"
            }
        ]
    }
{% endschema %}