<section class="new-arrival-product">
    <div class="container">
        <div class="heading"><h4>{{section.settings.heading}}</h4></div>
        <div class="arrivals-slider">
            {%- assign collection = collections[section.settings.collection] -%}
            {% for product in collection.products limit:section.settings.best_item_number %}
                <div class="product-item hvr-float-shadow">
                    <a href="{{product.url}}">
                        <i class="fas fa-eye"></i>
                        <div class="product-img">
                            <img src="{{ product | img_url: '400x400' }}" alt="" class="img-fluid lazyload js">
                        </div>
                        <p>{{product.title}}</p>
                    </a>
                    <div class="star-icon">
                        <img src="assets/bird.png" alt="" class="img-fluid">
                        <img src="assets/bird.png" alt="" class="img-fluid">
                        <img src="assets/bird.png" alt="" class="img-fluid">
                        <img src="assets/bird.png" alt="" class="img-fluid">
                    </div>
                    <div class="prive">{% include 'product-price', variant: current_variant, show_vendor: section.settings.show_vendor %}</div>
                    <div class="add-to-cart"> <a href="{{product.url}}">Add To Cart</a> </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

{% schema %}
    {
        "name":"New Arrivals",
        "settings":[
            {
                "type":"collection",
                "id": "collection",
                "label":"Select Collection"
            },
            {
                "type":   "range",
                "id":     "item_number",
                "min":       4,
                "max":       16,
                "step":      4,
                "label":     "Select Number Of Items",
                "default":   4                
            },
            {
                "type":"text",
                "id":"heading",
                "label":"Subcribe sub heading"
            }
        ],
        "presets": [
            {
                "name": "New Arrivals",
                "category": "Product"
            }
        ]
    }
{% endschema %}