<section class="category-area">
    <div class="container">
        <div class="heading"><h4>{{section.settings.heading}}</h4></div>
        <div class="row">
            {%- for block in section.blocks -%}
            {%- assign collection = collections[block.settings.collection] -%}
            <div class="col-lg-3 col-6">
                <div class="category color-{{forloop.index}} ">
                    <div class="cat-img">
                        <a href="{{ collection.url }}">
                            <img src="{{ collection.image | img_url: 'master' }}" alt="" class="img-fluid lazyload js">
                        </a>
                    </div>
                    <div class="cat-btn"> <a href="{{ collection.url }}">{{ collection.title }}</a></div>
                </div>
            </div>
            {%- endfor -%}
        </div>
    </div>
</section>


{% schema %}
{
    "name": "Our Categories",
    "max_blocks": 4,
    "settings":[
        {
            "type": "text",
            "id": "heading",
            "label": "Heading"
        }
    ],
    "blocks": [
        {
            "type": "image",
            "name":"Categories",
            "settings": [
                {
                     "label": {
                        "da": "Kollektion",
                        "de": "Kategorie",
                        "en": "Collection",
                        "es": "Colección",
                        "fi": "Kokoelma",
                        "fr": "Collection",
                        "hi": "कलेक्शन",
                        "it": "Collezione",
                        "ja": "コレクション",
                        "ko": "컬렉션",
                        "nb": "Samling",
                        "nl": "Collectie",
                        "pt-BR": "Coleção",
                        "pt-PT": "Coleção",
                        "sv": "Produktserie",
                        "th": "คอลเลกชัน",
                        "zh-CN": "收藏",
                        "zh-TW": "商品系列"
                    },
                    "id": "collection",
                    "type": "collection"
                }
            ]
        }
    ],
    "presets": [
        {
        "name": "Our Categories",
        "category": {
            "da": "Kollektion",
            "de": "Kategorie",
            "en": "Collection",
            "es": "Colección",
            "fi": "Kokoelma",
            "fr": "Collection",
            "hi": "कलेक्शन",
            "it": "Collezione",
            "ja": "コレクション",
            "ko": "컬렉션",
            "nb": "Samling",
            "nl": "Collectie",
            "pt-BR": "Coleção",
            "pt-PT": "Coleção",
            "sv": "Produktserie",
            "th": "คอลเลกชัน",
            "zh-CN": "收藏",
            "zh-TW": "商品系列"
        },
        "blocks": [
            {
                "type": "image"
            }
        ]
        }
    ]
}
{% endschema %}